{% extends 'email/layout/base.html.twig' %}

{% block introText %}



    <p>Ваша ссылка для редактирования будет доступна в течение 10 минут после получения этого сообщения.</p>

    <a href="{{ action_url }}" class="button button-{{ color|default('blue') }}" target="_blank">Перейти</a>



{% endblock %}

{% block outroText %}{% endblock %}

{% block main %}
    {{ parent() }}
{% endblock %}

