/**
  These flags are used in app
 */
.flag-afghanistan {
    background-image: url(../../images/flags/flag-afghanistan.png);
}
.flag-aland-islands {
    background-image: url(../../images/flags/flag-aland-islands.png);
}
.flag-albania {
    background-image: url(../../images/flags/flag-albania.png);
}
.flag-algeria {
    background-image: url(../../images/flags/flag-algeria.png);
}
.flag-american-samoa {
    background-image: url(../../images/flags/flag-american-samoa.png);
}
.flag-andorra {
    background-image: url(../../images/flags/flag-andorra.png);
}
.flag-angola {
    background-image: url(../../images/flags/flag-angola.png);
}
.flag-anguilla {
    background-image: url(../../images/flags/flag-anguilla.png);
}
.flag-antigua-and-barbuda {
    background-image: url(../../images/flags/flag-antigua-and-barbuda.png);
}
.flag-argentina {
    background-image: url(../../images/flags/flag-argentina.png);
}
.flag-armenia {
    background-image: url(../../images/flags/flag-armenia.png);
}
.flag-aruba {
    background-image: url(../../images/flags/flag-aruba.png);
}
.flag-australia {
    background-image: url(../../images/flags/flag-australia.png);
}
.flag-austria {
    background-image: url(../../images/flags/flag-austria.png);
}
.flag-azerbaijan {
    background-image: url(../../images/flags/flag-azerbaijan.png);
}
.flag-azores-islands {
    background-image: url(../../images/flags/flag-azores-islands.png);
}
.flag-bahamas {
    background-image: url(../../images/flags/flag-bahamas.png);
}
.flag-bahrain {
    background-image: url(../../images/flags/flag-bahrain.png);
}
.flag-balearic-islands {
    background-image: url(../../images/flags/flag-balearic-islands.png);
}
.flag-bangladesh {
    background-image: url(../../images/flags/flag-bangladesh.png);
}
.flag-barbados {
    background-image: url(../../images/flags/flag-barbados.png);
}
.flag-basque-country {
    background-image: url(../../images/flags/flag-basque-country.png);
}
.flag-belarus {
    background-image: url(../../images/flags/flag-belarus.png);
}
.flag-belgium {
    background-image: url(../../images/flags/flag-belgium.png);
}
.flag-belize {
    background-image: url(../../images/flags/flag-belize.png);
}
.flag-benin {
    background-image: url(../../images/flags/flag-benin.png);
}
.flag-bermuda {
    background-image: url(../../images/flags/flag-bermuda.png);
}
.flag-bhutan {
    background-image: url(../../images/flags/flag-bhutan.png);
}
.flag-bolivia {
    background-image: url(../../images/flags/flag-bolivia.png);
}
.flag-bonaire {
    background-image: url(../../images/flags/flag-bonaire.png);
}
.flag-bosnia-and-herzegovina {
    background-image: url(../../images/flags/flag-bosnia-and-herzegovina.png);
}
.flag-botswana {
    background-image: url(../../images/flags/flag-botswana.png);
}
.flag-brazil {
    background-image: url(../../images/flags/flag-brazil.png);
}
.flag-british-columbia {
    background-image: url(../../images/flags/flag-british-columbia.png);
}
.flag-british-indian-ocean-territory {
    background-image: url(../../images/flags/flag-british-indian-ocean-territory.png);
}
.flag-british-virgin-islands {
    background-image: url(../../images/flags/flag-british-virgin-islands.png);
}
.flag-brunei {
    background-image: url(../../images/flags/flag-brunei.png);
}
.flag-bulgaria {
    background-image: url(../../images/flags/flag-bulgaria.png);
}
.flag-burkina-faso {
    background-image: url(../../images/flags/flag-burkina-faso.png);
}
.flag-burundi {
    background-image: url(../../images/flags/flag-burundi.png);
}
.flag-cambodia {
    background-image: url(../../images/flags/flag-cambodia.png);
}
.flag-cameroon {
    background-image: url(../../images/flags/flag-cameroon.png);
}
.flag-canada {
    background-image: url(../../images/flags/flag-canada.png);
}
.flag-canary-islands {
    background-image: url(../../images/flags/flag-canary-islands.png);
}
.flag-cape-verde {
    background-image: url(../../images/flags/flag-cape-verde.png);
}
.flag-cayman-islands {
    background-image: url(../../images/flags/flag-cayman-islands.png);
}
.flag-central-african-republic {
    background-image: url(../../images/flags/flag-central-african-republic.png);
}
.flag-ceuta {
    background-image: url(../../images/flags/flag-ceuta.png);
}
.flag-chad {
    background-image: url(../../images/flags/flag-chad.png);
}
.flag-chile {
    background-image: url(../../images/flags/flag-chile.png);
}
.flag-china {
    background-image: url(../../images/flags/flag-china.png);
}
.flag-christmas-island {
    background-image: url(../../images/flags/flag-christmas-island.png);
}
.flag-cocos-island {
    background-image: url(../../images/flags/flag-cocos-island.png);
}
.flag-colombia {
    background-image: url(../../images/flags/flag-colombia.png);
}
.flag-comoros {
    background-image: url(../../images/flags/flag-comoros.png);
}
.flag-cook-islands {
    background-image: url(../../images/flags/flag-cook-islands.png);
}
.flag-corsica {
    background-image: url(../../images/flags/flag-corsica.png);
}
.flag-costa-rica {
    background-image: url(../../images/flags/flag-costa-rica.png);
}
.flag-croatia {
    background-image: url(../../images/flags/flag-croatia.png);
}
.flag-cuba {
    background-image: url(../../images/flags/flag-cuba.png);
}
.flag-curacao {
    background-image: url(../../images/flags/flag-curacao.png);
}
.flag-cyprus {
    background-image: url(../../images/flags/flag-cyprus.png);
}
.flag-czech-republic {
    background-image: url(../../images/flags/flag-czech-republic.png);
}
.flag-democratic-republic-of-congo {
    background-image: url(../../images/flags/flag-democratic-republic-of-congo.png);
}
.flag-denmark {
    background-image: url(../../images/flags/flag-denmark.png);
}
.flag-djibouti {
    background-image: url(../../images/flags/flag-djibouti.png);
}
.flag-dominica {
    background-image: url(../../images/flags/flag-dominica.png);
}
.flag-dominican-republic {
    background-image: url(../../images/flags/flag-dominican-republic.png);
}
.flag-east-timor {
    background-image: url(../../images/flags/flag-east-timor.png);
}
.flag-ecuador {
    background-image: url(../../images/flags/flag-ecuador.png);
}
.flag-egypt {
    background-image: url(../../images/flags/flag-egypt.png);
}
.flag-el-salvador {
    background-image: url(../../images/flags/flag-el-salvador.png);
}
.flag-england {
    background-image: url(../../images/flags/flag-england.png);
}
.flag-equatorial-guinea {
    background-image: url(../../images/flags/flag-equatorial-guinea.png);
}
.flag-eritrea {
    background-image: url(../../images/flags/flag-eritrea.png);
}
.flag-estonia {
    background-image: url(../../images/flags/flag-estonia.png);
}
.flag-ethiopia {
    background-image: url(../../images/flags/flag-ethiopia.png);
}
.flag-european-union {
    background-image: url(../../images/flags/flag-european-union.png);
}
.flag-falkland-islands {
    background-image: url(../../images/flags/flag-falkland-islands.png);
}
.flag-faroe-islands {
    background-image: url(../../images/flags/flag-faroe-islands.png);
}
.flag-fiji {
    background-image: url(../../images/flags/flag-fiji.png);
}
.flag-finland {
    background-image: url(../../images/flags/flag-finland.png);
}
.flag-france {
    background-image: url(../../images/flags/flag-france.png);
}
.flag-french-polynesia {
    background-image: url(../../images/flags/flag-french-polynesia.png);
}
.flag-gabon {
    background-image: url(../../images/flags/flag-gabon.png);
}
.flag-galapagos-islands {
    background-image: url(../../images/flags/flag-galapagos-islands.png);
}
.flag-gambia {
    background-image: url(../../images/flags/flag-gambia.png);
}
.flag-georgia {
    background-image: url(../../images/flags/flag-georgia.png);
}
.flag-germany {
    background-image: url(../../images/flags/flag-germany.png);
}
.flag-ghana {
    background-image: url(../../images/flags/flag-ghana.png);
}
.flag-gibraltar {
    background-image: url(../../images/flags/flag-gibraltar.png);
}
.flag-greece {
    background-image: url(../../images/flags/flag-greece.png);
}
.flag-greenland {
    background-image: url(../../images/flags/flag-greenland.png);
}
.flag-grenada {
    background-image: url(../../images/flags/flag-grenada.png);
}
.flag-guam {
    background-image: url(../../images/flags/flag-guam.png);
}
.flag-guatemala {
    background-image: url(../../images/flags/flag-guatemala.png);
}
.flag-guernsey {
    background-image: url(../../images/flags/flag-guernsey.png);
}
.flag-guinea-bissau {
    background-image: url(../../images/flags/flag-guinea-bissau.png);
}
.flag-guinea {
    background-image: url(../../images/flags/flag-guinea.png);
}
.flag-haiti {
    background-image: url(../../images/flags/flag-haiti.png);
}
.flag-hawaii {
    background-image: url(../../images/flags/flag-hawaii.png);
}
.flag-honduras {
    background-image: url(../../images/flags/flag-honduras.png);
}
.flag-hong-kong {
    background-image: url(../../images/flags/flag-hong-kong.png);
}
.flag-hungary {
    background-image: url(../../images/flags/flag-hungary.png);
}
.flag-iceland {
    background-image: url(../../images/flags/flag-iceland.png);
}
.flag-india {
    background-image: url(../../images/flags/flag-india.png);
}
.flag-indonesia {
    background-image: url(../../images/flags/flag-indonesia.png);
}
.flag-iran {
    background-image: url(../../images/flags/flag-iran.png);
}
.flag-iraq {
    background-image: url(../../images/flags/flag-iraq.png);
}
.flag-ireland {
    background-image: url(../../images/flags/flag-ireland.png);
}
.flag-isle-of-man {
    background-image: url(../../images/flags/flag-isle-of-man.png);
}
.flag-israel {
    background-image: url(../../images/flags/flag-israel.png);
}
.flag-italy {
    background-image: url(../../images/flags/flag-italy.png);
}
.flag-ivory-coast {
    background-image: url(../../images/flags/flag-ivory-coast.png);
}
.flag-jamaica {
    background-image: url(../../images/flags/flag-jamaica.png);
}
.flag-japan {
    background-image: url(../../images/flags/flag-japan.png);
}
.flag-jersey {
    background-image: url(../../images/flags/flag-jersey.png);
}
.flag-jordan {
    background-image: url(../../images/flags/flag-jordan.png);
}
.flag-kazakhstan {
    background-image: url(../../images/flags/flag-kazakhstan.png);
}
.flag-kenya {
    background-image: url(../../images/flags/flag-kenya.png);
}
.flag-kiribati {
    background-image: url(../../images/flags/flag-kiribati.png);
}
.flag-kosovo {
    background-image: url(../../images/flags/flag-kosovo.png);
}
.flag-kuwait {
    background-image: url(../../images/flags/flag-kuwait.png);
}
.flag-kyrgyzstan {
    background-image: url(../../images/flags/flag-kyrgyzstan.png);
}
.flag-laos {
    background-image: url(../../images/flags/flag-laos.png);
}
.flag-latvia {
    background-image: url(../../images/flags/flag-latvia.png);
}
.flag-lebanon {
    background-image: url(../../images/flags/flag-lebanon.png);
}
.flag-lesotho {
    background-image: url(../../images/flags/flag-lesotho.png);
}
.flag-liberia {
    background-image: url(../../images/flags/flag-liberia.png);
}
.flag-libya {
    background-image: url(../../images/flags/flag-libya.png);
}
.flag-liechtenstein {
    background-image: url(../../images/flags/flag-liechtenstein.png);
}
.flag-lithuania {
    background-image: url(../../images/flags/flag-lithuania.png);
}
.flag-luxembourg {
    background-image: url(../../images/flags/flag-luxembourg.png);
}
.flag-macao {
    background-image: url(../../images/flags/flag-macao.png);
}
.flag-madagascar {
    background-image: url(../../images/flags/flag-madagascar.png);
}
.flag-madeira {
    background-image: url(../../images/flags/flag-madeira.png);
}
.flag-malawi {
    background-image: url(../../images/flags/flag-malawi.png);
}
.flag-malaysia {
    background-image: url(../../images/flags/flag-malaysia.png);
}
.flag-maldives {
    background-image: url(../../images/flags/flag-maldives.png);
}
.flag-mali {
    background-image: url(../../images/flags/flag-mali.png);
}
.flag-malta {
    background-image: url(../../images/flags/flag-malta.png);
}
.flag-marshall-island {
    background-image: url(../../images/flags/flag-marshall-island.png);
}
.flag-martinique {
    background-image: url(../../images/flags/flag-martinique.png);
}
.flag-mauritania {
    background-image: url(../../images/flags/flag-mauritania.png);
}
.flag-mauritius {
    background-image: url(../../images/flags/flag-mauritius.png);
}
.flag-melilla {
    background-image: url(../../images/flags/flag-melilla.png);
}
.flag-mexico {
    background-image: url(../../images/flags/flag-mexico.png);
}
.flag-micronesia {
    background-image: url(../../images/flags/flag-micronesia.png);
}
.flag-moldova {
    background-image: url(../../images/flags/flag-moldova.png);
}
.flag-monaco {
    background-image: url(../../images/flags/flag-monaco.png);
}
.flag-mongolia {
    background-image: url(../../images/flags/flag-mongolia.png);
}
.flag-montenegro {
    background-image: url(../../images/flags/flag-montenegro.png);
}
.flag-montserrat {
    background-image: url(../../images/flags/flag-montserrat.png);
}
.flag-morocco {
    background-image: url(../../images/flags/flag-morocco.png);
}
.flag-mozambique {
    background-image: url(../../images/flags/flag-mozambique.png);
}
.flag-myanmar {
    background-image: url(../../images/flags/flag-myanmar.png);
}
.flag-namibia {
    background-image: url(../../images/flags/flag-namibia.png);
}
.flag-nauru {
    background-image: url(../../images/flags/flag-nauru.png);
}
.flag-nepal {
    background-image: url(../../images/flags/flag-nepal.png);
}
.flag-netherlands {
    background-image: url(../../images/flags/flag-netherlands.png);
}
.flag-new-zealand {
    background-image: url(../../images/flags/flag-new-zealand.png);
}
.flag-nicaragua {
    background-image: url(../../images/flags/flag-nicaragua.png);
}
.flag-niger {
    background-image: url(../../images/flags/flag-niger.png);
}
.flag-nigeria {
    background-image: url(../../images/flags/flag-nigeria.png);
}
.flag-niue {
    background-image: url(../../images/flags/flag-niue.png);
}
.flag-norfolk-island {
    background-image: url(../../images/flags/flag-norfolk-island.png);
}
.flag-north-korea {
    background-image: url(../../images/flags/flag-north-korea.png);
}
.flag-northen-cyprus {
    background-image: url(../../images/flags/flag-northen-cyprus.png);
}
.flag-northern-marianas-islands {
    background-image: url(../../images/flags/flag-northern-marianas-islands.png);
}
.flag-norway {
    background-image: url(../../images/flags/flag-norway.png);
}
.flag-oman {
    background-image: url(../../images/flags/flag-oman.png);
}
.flag-orkney-islands {
    background-image: url(../../images/flags/flag-orkney-islands.png);
}
.flag-ossetia {
    background-image: url(../../images/flags/flag-ossetia.png);
}
.flag-otan {
    background-image: url(../../images/flags/flag-otan.png);
}
.flag-pakistan {
    background-image: url(../../images/flags/flag-pakistan.png);
}
.flag-palau {
    background-image: url(../../images/flags/flag-palau.png);
}
.flag-palestine {
    background-image: url(../../images/flags/flag-palestine.png);
}
.flag-panama {
    background-image: url(../../images/flags/flag-panama.png);
}
.flag-papua-new-guinea {
    background-image: url(../../images/flags/flag-papua-new-guinea.png);
}
.flag-peru {
    background-image: url(../../images/flags/flag-peru.png);
}
.flag-philippines {
    background-image: url(../../images/flags/flag-philippines.png);
}
.flag-pitcairn-islands {
    background-image: url(../../images/flags/flag-pitcairn-islands.png);
}
.flag-poland {
    background-image: url(../../images/flags/flag-poland.png);
}
.flag-portugal {
    background-image: url(../../images/flags/flag-portugal.png);
}
.flag-puerto-rico {
    background-image: url(../../images/flags/flag-puerto-rico.png);
}
.flag-qatar {
    background-image: url(../../images/flags/flag-qatar.png);
}
.flag-rapa-nui {
    background-image: url(../../images/flags/flag-rapa-nui.png);
}
.flag-republic-of-macedonia {
    background-image: url(../../images/flags/flag-republic-of-macedonia.png);
}
.flag-republic-of-the-congo {
    background-image: url(../../images/flags/flag-republic-of-the-congo.png);
}
.flag-romania {
    background-image: url(../../images/flags/flag-romania.png);
}
.flag-russia {
    background-image: url(../../images/flags/flag-russia.png);
}
.flag-rwanda {
    background-image: url(../../images/flags/flag-rwanda.png);
}
.flag-saba-island {
    background-image: url(../../images/flags/flag-saba-island.png);
}
.flag-sahrawi-arab-democratic-republic {
    background-image: url(../../images/flags/flag-sahrawi-arab-democratic-republic.png);
}
.flag-saint-kitts-and-nevis {
    background-image: url(../../images/flags/flag-saint-kitts-and-nevis.png);
}
.flag-samoa {
    background-image: url(../../images/flags/flag-samoa.png);
}
.flag-san-marino {
    background-image: url(../../images/flags/flag-san-marino.png);
}
.flag-sao-tome-and-principe {
    background-image: url(../../images/flags/flag-sao-tome-and-principe.png);
}
.flag-sardinia {
    background-image: url(../../images/flags/flag-sardinia.png);
}
.flag-saudi-arabia {
    background-image: url(../../images/flags/flag-saudi-arabia.png);
}
.flag-scotland {
    background-image: url(../../images/flags/flag-scotland.png);
}
.flag-senegal {
    background-image: url(../../images/flags/flag-senegal.png);
}
.flag-serbia {
    background-image: url(../../images/flags/flag-serbia.png);
}
.flag-seychelles {
    background-image: url(../../images/flags/flag-seychelles.png);
}
.flag-sicily {
    background-image: url(../../images/flags/flag-sicily.png);
}
.flag-sierra-leone {
    background-image: url(../../images/flags/flag-sierra-leone.png);
}
.flag-singapore {
    background-image: url(../../images/flags/flag-singapore.png);
}
.flag-sint-eustatius {
    background-image: url(../../images/flags/flag-sint-eustatius.png);
}
.flag-sint-maarten {
    background-image: url(../../images/flags/flag-sint-maarten.png);
}
.flag-slovakia {
    background-image: url(../../images/flags/flag-slovakia.png);
}
.flag-slovenia {
    background-image: url(../../images/flags/flag-slovenia.png);
}
.flag-solomon-islands {
    background-image: url(../../images/flags/flag-solomon-islands.png);
}
.flag-somalia {
    background-image: url(../../images/flags/flag-somalia.png);
}
.flag-somaliland {
    background-image: url(../../images/flags/flag-somaliland.png);
}
.flag-south-africa {
    background-image: url(../../images/flags/flag-south-africa.png);
}
.flag-south-korea {
    background-image: url(../../images/flags/flag-south-korea.png);
}
.flag-south-sudan {
    background-image: url(../../images/flags/flag-south-sudan.png);
}
.flag-spain {
    background-image: url(../../images/flags/flag-spain.png);
}
.flag-sri-lanka {
    background-image: url(../../images/flags/flag-sri-lanka.png);
}
.flag-st-barts {
    background-image: url(../../images/flags/flag-st-barts.png);
}
.flag-st-lucia {
    background-image: url(../../images/flags/flag-st-lucia.png);
}
.flag-st-vincent-and-the-grenadines {
    background-image: url(../../images/flags/flag-st-vincent-and-the-grenadines.png);
}
.flag-sudan {
    background-image: url(../../images/flags/flag-sudan.png);
}
.flag-suriname {
    background-image: url(../../images/flags/flag-suriname.png);
}
.flag-swaziland {
    background-image: url(../../images/flags/flag-swaziland.png);
}
.flag-sweden {
    background-image: url(../../images/flags/flag-sweden.png);
}
.flag-switzerland {
    background-image: url(../../images/flags/flag-switzerland.png);
}
.flag-syria {
    background-image: url(../../images/flags/flag-syria.png);
}
.flag-taiwan {
    background-image: url(../../images/flags/flag-taiwan.png);
}
.flag-tajikistan {
    background-image: url(../../images/flags/flag-tajikistan.png);
}
.flag-tanzania {
    background-image: url(../../images/flags/flag-tanzania.png);
}
.flag-thailand {
    background-image: url(../../images/flags/flag-thailand.png);
}
.flag-tibet {
    background-image: url(../../images/flags/flag-tibet.png);
}
.flag-togo {
    background-image: url(../../images/flags/flag-togo.png);
}
.flag-tokelau {
    background-image: url(../../images/flags/flag-tokelau.png);
}
.flag-tonga {
    background-image: url(../../images/flags/flag-tonga.png);
}
.flag-transnistria {
    background-image: url(../../images/flags/flag-transnistria.png);
}
.flag-trinidad-and-tobago {
    background-image: url(../../images/flags/flag-trinidad-and-tobago.png);
}
.flag-tubalu {
    background-image: url(../../images/flags/flag-tubalu.png);
}
.flag-tunisia {
    background-image: url(../../images/flags/flag-tunisia.png);
}
.flag-turkey {
    background-image: url(../../images/flags/flag-turkey.png);
}
.flag-turkmenistan {
    background-image: url(../../images/flags/flag-turkmenistan.png);
}
.flag-turks-and-caicos {
    background-image: url(../../images/flags/flag-turks-and-caicos.png);
}
.flag-uganda {
    background-image: url(../../images/flags/flag-uganda.png);
}
.flag-ukraine {
    background-image: url(../../images/flags/flag-ukraine.png);
}
.flag-united-arab-emirates {
    background-image: url(../../images/flags/flag-united-arab-emirates.png);
}
.flag-united-kingdom {
    background-image: url(../../images/flags/flag-united-kingdom.png);
}
.flag-united-nations {
    background-image: url(../../images/flags/flag-united-nations.png);
}
.flag-united-states-of-america {
    background-image: url(../../images/flags/flag-united-states-of-america.png);
}
.flag-uruguay {
    background-image: url(../../images/flags/flag-uruguay.png);
}
.flag-uzbekistn {
    background-image: url(../../images/flags/flag-uzbekistn.png);
}
.flag-vanuatu {
    background-image: url(../../images/flags/flag-vanuatu.png);
}
.flag-vatican-city {
    background-image: url(../../images/flags/flag-vatican-city.png);
}
.flag-venezuela {
    background-image: url(../../images/flags/flag-venezuela.png);
}
.flag-vietnam {
    background-image: url(../../images/flags/flag-vietnam.png);
}
.flag-virgin-islands {
    background-image: url(../../images/flags/flag-virgin-islands.png);
}
.flag-wales {
    background-image: url(../../images/flags/flag-wales.png);
}
.flag-yemen {
    background-image: url(../../images/flags/flag-yemen.png);
}
.flag-zambia {
    background-image: url(../../images/flags/flag-zambia.png);
}
.flag-zimbabwe {
    background-image: url(../../images/flags/flag-zimbabwe.png);
}
