.datatables {
  &__actions {
    min-width: 150px;
  }
}


.dtfh-floatingparent {
  &.dtfh-floatingparenthead {
    width: auto !important;
    top: 58px !important;
  }

  //table table-striped table-middle-aligned display dataTable no-footer
  .fixedHeader-floating {
    width: auto !important;
    //margin-left: 290px;
  }
  //table.dataTable.fixedHeader-floating, table.dataTable.fixedHeader-locked
}

#main-wrapper.mini-sidebar {

}