// --------------------------------------------------------------------
// Author Name   : Nirav Joshi
// --------------------------------------------------------------------
// For more info : https://www.wrappixel.com/
// --------------------------------------------------------------------
// Product Name  : Xtreme Admin
// --------------------------------------------------------------------

//
// All the extended and custom variables(Required file)
//
@import "variables/variable";
@import "variables/custom-variable";

//
// Dark Theme Settings
//
@import "dark/_dark-theme";

//
// Import Bootstrap source files (Required file)
//
@import "bootstrap/bootstrap";

//
//This is for the layouts (Required file)
//
//Theme colors
@import "theme-colors/_theme-colors";
// core
@import "core/core";
// rtl
@import "rtl/rtl";

//
//This is for the pages (if you are not using some pages you can remove that style from pages folder)
//
@import "pages/pages";

//
//This is for the widgets (Required file)
//
@import 'widgets/topbar-mail';
@import 'widgets/comments';
@import 'widgets/chat-widgets';
@import 'widgets/chat-popup';
@import 'widgets/steamline';
@import 'widgets/feeds';
@import 'widgets/task';
@import 'widgets/profile';
@import 'widgets/dropzone';
@import 'widgets/calendar';

//
//This is for the horizontal version if you are not using horizontal version you can remove this
//
@import "horizontal/horizontal";

//
//This is for the responsive (Required file)
//
@import "responsive/responsive";

//
//In This scss you can write your scss
//
@import "custom";

//
//This is for the icons (Required file)
//
@import "icons/weather-icons/css/weather-icons.min.css";

@import "icons/flag-icon-css/flag-icon.min.css";
@import "icons/crypto-icons/cryptocoins.css";
@import "icons/remixicon-icons/remixicon.css";
@import "icons/bootstrap-icons/bootstrap-icons.css";
@import "icons/font-awesome/css/fontawesome-all.min.css";
@import "icons/material-design-iconic-font/css/material-design-iconic-font.css";
@import "icons/material-design-iconic-font/css/materialdesignicons.min.css";
@import 'flags/flags';

@import "~@mdi/font/scss/materialdesignicons";

@import "~toastr";

// Modules
@import "datatables";
@import "datatables.net-fixedheader-bs5";

@import "../libs/fullcalendar/dist/fullcalendar.min.css";

@import '~sweetalert2/src/sweetalert2.scss';

// Eonasdan Bootstrap Datetimepicker
@import "bootstrap-datetimepicker";

// Select2 + Select2 Bootstrap 4 Theme
@import "~select2/dist/css/select2.css";
@import "~select2-bootstrap-5-theme/src/select2-bootstrap-5-theme";

@import "~nprogress/nprogress.css";

@import "~tinymce/skins/ui/oxide/skin.css";
@import "modules/tinymce.scss";

// Extra libs
@import "extra-libs/datatables";
@import "extra-libs/formValidation";
@import "extra-libs/bootbox";


@import "dropzone/dist/dropzone.css";


@import 'base/global';

@import '../libs/jquery-steps/jquery.steps.css';

//@import '@symfony/ux-dropzone/dist/style.min.css';

@import "widgets/uppy";


@import "memory";