@import '@uppy/core/dist/style.min.css';
@import '@uppy/dashboard/dist/style.min.css';
@import '@uppy/image-editor/dist/style.min.css';

.uppy {

  &-Dashboard {
    &-AddFiles {
      &-title {
        font-size: 16px !important;
        margin-top: 20px !important;
      }
    }

    //&-inner {
    //  height: 100px !important;
    //}
    .css--modal-fake-input-row{
      width: 90%;
      margin: 20px auto
    }
  }

  &-c-btn {

  }
}