{% extends 'base.html.twig' %}

{% block body_id 'home' %}

{% block body %}
    <div class="container-fluid">
        <div class="card gredient-info-bg m-t-0 m-b-0">
            <div class="card-body">
                <h4 class="card-title text-white">Добро пожаловать</h4>
                <h5 class="card-subtitle text-white op-5">в панель управлением проекта</h5>
            </div>
        </div>
    </div>
{% endblock %}
